name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x


    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Restore dependencies
      run: dotnet restore

    - name: Install Frontend Dependencies
      working-directory: ./KitPraid.FrontEnd/kitpraid
      run: npm ci

    - name: Frontend Lint
      working-directory: ./KitPraid.FrontEnd/kitpraid
      run: npm run lint
      continue-on-error: false

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --verbosity normal --configuration Release
