name: Security Audit

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 0 * * 0' # Run once a week

jobs:
  npm-audit:
    name: NPM Audit
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./KitPraid.FrontEnd/kitpraid
    steps:
    - uses: actions/checkout@v4
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - name: Check NPM Vulnerabilities
      run: npm audit --audit-level=high
